<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Driver</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h2>Update Driver</h2>
<form th:action="@{/drivers/update}" th:object="${driver}" method="post">
    <div>
        <label>ID:</label>
        <input type="text" th:field="*{id}" readonly />
    </div>
    <div>
        <label>Name:</label>
        <input type="text" th:field="*{name}" />
    </div>
    <div>
        <label>Experience:</label>
        <input type="number" th:field="*{experience}" />
    </div>
    <div>
        <label>Is Available:</label>
        <input type="checkbox" th:field="*{available}" />
    </div>
    <div>
        <button type="submit">Update Driver</button>
    </div>
</form>
<a th:href="@{/drivers}">Back to Drivers List</a>
</body>
</html>
