<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактировать Ожидающий Запрос</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Редактировать Ожидающий Запрос</h1>
<form th:action="@{/pending-requests/{id}(id=${pendingRequestDTO.id})}" th:object="${pendingRequestDTO}" method="post">
    <label for="destinationId">Пункт назначения:</label>
    <select id="destinationId" th:field="*{destinationId}" required>
        <option th:each="destination : ${destinations}"
                th:value="${destination.id}"
                th:text="${destination.name}"
                th:selected="${destination.id == pendingRequestDTO.destinationId}"></option>
    </select>
    <br/>

    <label for="cargoTypeId">Тип груза:</label>
    <select id="cargoTypeId" th:field="*{cargoTypeId}" required>
        <option th:each="cargoType : ${cargoTypes}"
                th:value="${cargoType.id}"
                th:text="${cargoType.name}"
                th:selected="${cargoType.id == pendingRequestDTO.cargoTypeId}"></option>
    </select>
    <br/>

    <label for="cargoWeight">Вес груза:</label>
    <input type="number" id="cargoWeight" th:field="*{cargoWeight}" required/>

    <label for="statusId">Статус:</label>
    <select id="statusId" th:field="*{statusId}" required>
        <option th:each="status : ${statuses}"
                th:value="${status.id}"
                th:text="${status.name}"
                th:selected="${status.id == pendingRequestDTO.statusId}"></option>
    </select>
    <br/>

    <button type="submit">Обновить</button>
</form>
<a th:href="@{/pending-requests}">Назад к Списку</a>
</body>
</html>
