<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обновить Автомобиль</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Обновить Автомобиль</h1>

<!-- Форма для редактирования автомобиля -->
<form th:action="@{/cars/update}" th:object="${car}" method="post">
    <!-- Поле для ID автомобиля (только для чтения) -->
    <div>
        <label>ID:</label>
        <input type="text" th:field="*{id}" readonly />
    </div>

    <!-- Поле для модели автомобиля -->
    <div>
        <label>Модель:</label>
        <input type="text" th:field="*{model}" />
    </div>

    <!-- Поле для грузоподъемности автомобиля -->
    <div>
        <label>Грузоподъемность:</label>
        <input type="number" th:field="*{loadCapacity}" />
    </div>

    <!-- Поле для доступности автомобиля -->
    <div>
        <label>Доступен:</label>
        <input type="checkbox" th:field="*{available}" />
    </div>

    <!-- Кнопка для отправки формы -->
    <div>
        <button type="submit">Обновить Автомобиль</button>
    </div>
</form>

<!-- Кнопка для возврата к списку автомобилей -->
<a th:href="@{/cars}">Назад к Списку Автомобилей</a>
</body>
</html>
