<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать рейс</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h2>Редактировать рейс</h2>
<form th:action="@{/requests/{id}(id=${requestDTO.id})}" th:object="${requestDTO}" method="post">
    <label for="destinationId">Место назначения:</label>
    <select id="destinationId" th:field="*{destinationId}">
        <option th:each="destination : ${destinations}" th:value="${destination.id}" th:text="${destination.name}"
                th:selected="${destination.id == requestDTO.destinationId}"></option>
    </select>
    <br/>
    <label for="cargoTypeId">Тип груза:</label>
    <select id="cargoTypeId" th:field="*{cargoTypeId}">
        <option th:each="cargoType : ${cargoTypes}" th:value="${cargoType.id}" th:text="${cargoType.name}"
                th:selected="${cargoType.id == requestDTO.cargoTypeId}"></option>
    </select>
    <br/>
    <label for="cargoWeight">Вес груза:</label>
    <input type="number" id="cargoWeight" th:field="*{cargoWeight}" step="0.01" required />
    <br/>
    <label for="driverId">Водитель:</label>
    <select id="driverId" th:field="*{driverId}">
        <option th:each="driver : ${drivers}" th:value="${driver.id}" th:text="${driver.firstName + ' ' + driver.lastName}"
                th:selected="${driver.id == requestDTO.driverId}"></option>
    </select>
    <br/>
    <label for="carId">Автомобиль:</label>
    <select id="carId" th:field="*{carId}">
        <option th:each="car : ${cars}" th:value="${car.id}" th:text="${car.model}"
                th:selected="${car.id == requestDTO.carId}"></option>
    </select>
    <br/>
    <label for="statusId">Статус:</label>
    <select id="statusId" th:field="*{statusId}">
        <option th:each="status : ${statuses}" th:value="${status.id}" th:text="${status.name}"
                th:selected="${status.id == requestDTO.statusId}"></option>
    </select>
    <br/>
    <label for="startTime">Время начала:</label>
    <input type="datetime-local" id="startTime" th:field="*{startTime}" required />
    <br/>
    <label for="endTime">Время окончания:</label>
    <input type="datetime-local" id="endTime" th:field="*{endTime}" required />
    <br/>
    <button type="submit">Обновить</button>
</form>
<br/>
<a th:href="@{/requests}">Назад к Списку рейсов</a>
</body>
</html>
