<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список Запросов</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h2>Список Запросов</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Место назначения</th>
        <th>Тип груза</th>
        <th>Вес груза</th>
        <th>Водитель</th>
        <th>Автомобиль</th>
        <th>Статус</th>
        <th>Время начала</th>
        <th>Время окончания</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="request : ${requests}">
        <td th:text="${request.id}"></td>
        <td th:text="${request.destinationId}"></td>
        <td th:text="${request.cargoTypeId}"></td>
        <td th:text="${request.cargoWeight}"></td>
        <td th:text="${request.driverId}"></td>
        <td th:text="${request.carId}"></td>
        <td th:text="${request.statusId}"></td>
        <td th:text="${@dateTimeUtils.format(request.startTime)}"></td> <!-- Изменено на пользовательский метод -->
        <td th:text="${@dateTimeUtils.format(request.endTime)}"></td>   <!-- Изменено на пользовательский метод -->
        <td>
            <a th:href="@{/requests/{id}/edit(id=${request.id})}">Редактировать</a> |
            <a th:href="@{/requests/{id}/delete(id=${request.id})}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/requests/create}">Добавить Новый Запрос</a>
<br/>
<a th:href="@{/}">Назад в Меню</a>
</body>
</html>
