<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Вход</h1>

        <!-- Проверка параметра error в URL -->
        <div th:if="${param.error}">
            <div class="notification is-danger has-text-centered">
                Ошибка: Неверное имя пользователя или пароль!
            </div>
        </div>

        <!-- Форма входа -->
        <form th:action="@{/login}" method="post">
            <div class="field">
                <label class="label" for="username">Имя пользователя</label>
                <div class="control">
                    <input class="input" type="text" id="username" name="username" placeholder="Введите имя пользователя" required>
                </div>
            </div>

            <div class="field">
                <label class="label" for="password">Пароль</label>
                <div class="control">
                    <input class="input" type="password" id="password" name="password" placeholder="Введите пароль" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Войти</button>
                </div>
            </div>
        </form>

        <!-- Ссылка на регистрацию -->
        <p class="has-text-centered">Нет аккаунта? <a th:href="@{/register}">Зарегистрироваться</a></p>
    </div>
</section>
</body>
</html>
