<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Регистрация</h1>
        <form th:action="@{/register}" th:object="${user}" method="post">
            <div class="field">
                <label class="label">Имя пользователя</label>
                <div class="control">
                    <input class="input" type="text" th:field="*{username}" placeholder="Введите имя пользователя" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Пароль</label>
                <div class="control">
                    <input class="input" type="password" th:field="*{password}" placeholder="Введите пароль" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Зарегистрироваться</button>
                </div>
            </div>
        </form>
        <p class="has-text-centered">Уже зарегистрированы? <a th:href="@{/login}">Войти</a></p>
    </div>
</section>
</body>
</html>
