<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список Типов Груза</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Список Типов Груза</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Действия</th>
    </tr>
    <tr th:each="cargoType : ${cargoTypes}">
        <td th:text="${cargoType.id}"></td>
        <td th:text="${cargoType.name}"></td>
        <td>
            <a th:href="@{/cargoTypes/update/{id}(id=${cargoType.id})}">Редактировать</a>
            <a th:href="@{/cargoTypes/delete/{id}(id=${cargoType.id})}">Удалить</a>
        </td>
    </tr>
</table>
<a th:href="@{/cargoTypes/add}">Добавить Новый Тип Груза</a>
<a th:href="@{/}">Вернуться в меню</a>
</body>
</html>
