<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обновить Водителя</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Обновить Водителя</h1>
<form th:action="@{/drivers/update}" th:object="${driver}" method="post">
    <div>
        <label>ID:</label>
        <input type="text" th:field="*{id}" readonly />
    </div>
    <div>
        <label>Имя:</label>
        <input type="text" th:field="*{name}" />
    </div>
    <div>
        <label>Опыт:</label>
        <input type="number" th:field="*{experience}" />
    </div>
    <div>
        <label>Доступен:</label>
        <input type="checkbox" th:field="*{available}" />
    </div>
    <div>
        <button type="submit">Обновить Водителя</button>
    </div>
</form>
<a th:href="@{/drivers}">Назад к Списку Водителей</a>
</body>
</html>
