<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список Статистики</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h2>Список Статистики</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя Водителя</th>
        <th>Фамилия Водителя</th>
        <th>Место Назначения</th>
        <th>Тип Груза</th>
        <th>Вес Груза</th>
        <th>Доход</th>
        <th>Время Записи</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="stat : ${statistics}">
        <td th:text="${stat.id}"></td>
        <td th:text="${stat.driverFirstName}"></td>
        <td th:text="${stat.driverLastName}"></td>
        <td th:text="${stat.destinationName}"></td>
        <td th:text="${stat.cargoTypeName}"></td>
        <td th:text="${stat.cargoWeight}"></td>
        <td th:text="${stat.income}"></td>
        <td th:text="${#dates.format(stat.timestamp, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">Назад в Меню</a>
</body>
</html>
