<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать новое событие</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Создать новое событие</h1>
<form action="/create-event" method="post">
    <label for="name">Название события:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="date">Дата события:</label>
    <input type="date" id="date" name="date" required><br>

    <label for="place">Место проведения:</label>
    <select id="place" name="place.id" required>
        <option value="">-- Выберите место --</option>
        <option th:each="place : ${places}"
                th:value="${place.id}"
                th:text="${place.name}">
        </option>
    </select><br>

    <button type="submit">Создать событие</button>
</form>
<a href="/">Назад в меню</a>
</body>
</html>
