<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главное Меню</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Главное Меню</h1>
<ul>
    <li><a href="/create-event">Создать новое событие</a></li>
    <li><a href="/show-events">Показать все события</a></li>
    <li><a href="/find-tickets">Поиск свободных билетов по событию</a></li>
    <li><a href="/nearest-events">Поиск ближайших событий</a></li>

    <li><a href="/register">Регистрация</a></li>
    <li><a href="/logout">Выход</a></li> <!-- Добавлено для выхода -->
</ul>
</body>
</html>
